.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
.boxCoverBanner{
    height: calc(100vw / (1450px / 471px)) !important;
    padding: 7% 3% 5% 3% !important;
    width: 35% !important;
    margin-right: 57% !important;
    position: absolute !important;
    z-index: 100 !important;
}
  .boxCarouselItems{
    position: relative !important;
  }